name: Release

on:
  workflow_dispatch:
  push:
    tags:
      - tmx_** # Releases

env:
  libxml2_ver: v2.14.6
  LIBXML2_CONFIGURE_FLAGS: '--without-c14n --without-catalog --without-debug --without-docs --without-python
    --without-http --without-html --without-xpath --without-xptr --without-xinclude --without-iconv --without-icu
    --without-iso8859x --without-zlib --without-lzma --without-schemas --without-output --without-writer
    --without-schematron --without-regexps --without-modules --without-pattern --without-valid
    --without-sax1 --without-legacy --without-relaxng --without-threads
    --with-minimum --with-reader
    --disable-shared --enable-static'
  zlib_ver: v1.3.1

jobs:
  linux64:
    name: Linux 64 Build
    runs-on: ubuntu-22.04
    steps:
      # context expressions lack the most basic string manipulation functions...
      - name: Create distribution folder
        run: |
          ARTIFACT_NAME=${GITHUB_REF##refs/*/}-linux
          DIST_PATH=${GITHUB_WORKSPACE}/${ARTIFACT_NAME}
          echo "ARTIFACT_NAME=${ARTIFACT_NAME}" >> $GITHUB_ENV
          echo "DIST_PATH=${DIST_PATH}" >> $GITHUB_ENV
          mkdir "${DIST_PATH}"

      # Build and install zlib
      - name: Checkout zlib
        uses: actions/checkout@v6
        with:
          repository: madler/zlib
          path: zlib
          ref: ${{ env.zlib_ver }}
      - name: Build and Install zlib
        run: |
          cmake -DCMAKE_BUILD_TYPE=Release -DBUILD_SHARED_LIBS=Off -DCMAKE_INSTALL_PREFIX="${DIST_PATH}" &&
          make -j2 && make install
        working-directory: zlib

      # Build and install libxml2
      - name: Checkout libxml2
        uses: actions/checkout@v6
        with:
          repository: GNOME/libxml2
          path: libxml2
          ref: ${{ env.libxml2_ver }}
      - name: Build and Install libxml2
        run: |
          ./autogen.sh --prefix="${DIST_PATH}" ${LIBXML2_CONFIGURE_FLAGS} &&
          make -j2 && make install-strip
        working-directory: libxml2

      # Clean-up
      - name: Clean-up
        run: |
          rm -rf "${DIST_PATH}/bin" "${DIST_PATH}/share"
          find "${DIST_PATH}/lib/" -iname '*.so*' -delete
          rm -f "${DIST_PATH}/lib/libxml2.la" "${DIST_PATH}/lib/xml2Conf.sh"

      # Build and install libTMX
      - name: Checkout libTMX
        uses: actions/checkout@v6
        with:
          path: tmx
      - name: Build and Install libTMX
        run: |
          cmake -DCMAKE_BUILD_TYPE=Release -DCMAKE_INSTALL_PREFIX="${DIST_PATH}" -DCMAKE_PREFIX_PATH="${DIST_PATH}" &&
          make -j2 && make install
        working-directory: tmx

      # Upload
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.ARTIFACT_NAME }}
          path: ${{ env.DIST_PATH }}

  html5:
    name: HTML5 Build
    runs-on: ubuntu-latest
    steps:
      - name: Create distribution folder
        run: |
          ARTIFACT_NAME=${GITHUB_REF##refs/*/}-html5
          DIST_PATH=${GITHUB_WORKSPACE}/${ARTIFACT_NAME}
          echo "ARTIFACT_NAME=${ARTIFACT_NAME}" >> $GITHUB_ENV
          echo "DIST_PATH=${DIST_PATH}" >> $GITHUB_ENV
          mkdir "${DIST_PATH}"

      # Build and install emscripten
      - name: Checkout emsdk
        uses: actions/checkout@v6
        with:
          repository: emscripten-core/emsdk
          path: emsdk
      - name: Install emscripten
        run: |
          ./emsdk install latest &&
          ./emsdk activate latest
        working-directory: emsdk

      # Libraries are compiled with flag -flto to generate LLVM bytecode (to later benefit from LTO)
      # See: https://emscripten.org/docs/optimizing/Optimizing-Code.html#lto

      # Build and install libxml2
      - name: Checkout libxml2
        uses: actions/checkout@v6
        with:
          repository: GNOME/libxml2
          path: libxml2
          ref: ${{ env.libxml2_ver }}
      - name: Build and Install libxml2
        run: |
          . ${GITHUB_WORKSPACE}/emsdk/emsdk_env.sh
          emconfigure ./autogen.sh --prefix="${DIST_PATH}" ${LIBXML2_CONFIGURE_FLAGS} &&
          emmake make -j2 CFLAGS='-flto' && make install
        working-directory: libxml2

      # Clean-up
      - name: Clean-up
        run: rm -rf "${DIST_PATH}/bin" "${DIST_PATH}/share" "${DIST_PATH}/lib/libxml2.la" "${DIST_PATH}/lib/xml2Conf.sh"

      # Build and install libTMX
      - name: Checkout libTMX
        uses: actions/checkout@v6
        with:
          path: tmx
      - name: Build and Install libTMX
        run: |
          . ${GITHUB_WORKSPACE}/emsdk/emsdk_env.sh
          emcmake cmake -DCMAKE_BUILD_TYPE=Release -DCMAKE_INSTALL_PREFIX="${DIST_PATH}" \
                        -DCMAKE_PREFIX_PATH="${DIST_PATH}" -DCMAKE_FIND_ROOT_PATH="${DIST_PATH}" \
                        -DCMAKE_C_FLAGS='-flto' &&
          make -j2 && make install
        working-directory: tmx

      # Upload
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.ARTIFACT_NAME }}
          path: ${{ env.DIST_PATH }}

  windows:
    name: Windows Build
    runs-on: windows-2022
    steps:
      - name: Create distribution folder
        run: |
          $ARTIFACT_NAME=$($Env:GITHUB_REF -replace 'refs/([^/]+/)+', '' ) + "-win"
          echo "ARTIFACT_NAME=$ARTIFACT_NAME" | Out-File -FilePath $env:GITHUB_ENV -Encoding utf8 -Append
          $DIST_PATH="$($Env:GITHUB_WORKSPACE)\$ARTIFACT_NAME"
          echo "DIST_PATH=$DIST_PATH" | Out-File -FilePath $env:GITHUB_ENV -Encoding utf8 -Append
          mkdir "$DIST_PATH"

      # Build and install zlib
      - name: Checkout zlib
        uses: actions/checkout@v6
        with:
          repository: madler/zlib
          path: zlib
          ref: ${{ env.zlib_ver }}
      - name: Build and Install zlib
        run: |
          cmake -G "MinGW Makefiles" -DCMAKE_BUILD_TYPE=Release -DBUILD_SHARED_LIBS=Off `
                -DCMAKE_INSTALL_PREFIX="$($Env:DIST_PATH)" &&
          mingw32-make -j2 && mingw32-make install
        working-directory: zlib

      # Build and install libxml2
      - name: Checkout libxml2
        uses: actions/checkout@v6
        with:
          repository: GNOME/libxml2
          path: libxml2
          ref: ${{ env.libxml2_ver }}
      - name: Build and Install libxml2
        # This version of libxml2 won't build on Windows unless DLIBXML2_WITH_WRITER==On & DLIBXML2_WITH_OUTPUT==On
        run: |
          cmake -B build -G "MinGW Makefiles" -DCMAKE_BUILD_TYPE=Release -DBUILD_SHARED_LIBS=Off `
                -DCMAKE_INSTALL_PREFIX="$($Env:DIST_PATH)" `
                -DLIBXML2_WITH_C14N=Off -DLIBXML2_WITH_CATALOG=Off -DLIBXML2_WITH_DEBUG=Off -DLIBXML2_WITH_HTTP=Off `
                -DLIBXML2_WITH_HTML=Off -DLIBXML2_WITH_XPATH=Off -DLIBXML2_WITH_XPTR=Off -DLIBXML2_WITH_XINCLUDE=Off `
                -DLIBXML2_WITH_ICONV=Off -DLIBXML2_WITH_ICU=Off -DLIBXML2_WITH_ISO8859X=Off -DLIBXML2_WITH_ZLIB=Off `
                -DLIBXML2_WITH_LZMA=Off -DLIBXML2_WITH_SCHEMAS=Off -DLIBXML2_WITH_SCHEMATRON=Off `
                -DLIBXML2_WITH_REGEXPS=Off -DLIBXML2_WITH_MODULES=Off -DLIBXML2_WITH_PATTERN=Off `
                -DLIBXML2_WITH_VALID=Off -DLIBXML2_WITH_SAX1=Off -DLIBXML2_WITH_LEGACY=Off -DLIBXML2_WITH_PYTHON=Off `
                -DLIBXML2_WITH_OUTPUT=On -DLIBXML2_WITH_WRITER=On -DLIBXML2_WITH_RELAXNG=Off `
                -DLIBXML2_WITH_THREADS=Off `
                -DLIBXML2_WITH_PUSH=On -DLIBXML2_WITH_READER=On &&
          cmake --build build &&
          cmake --install build
        working-directory: libxml2

      # Clean-up
      - name: Clean-up
        run: |
          Remove-Item -Path "$($Env:DIST_PATH)/share" -Recurse
          Remove-Item -Path "$($Env:DIST_PATH)/bin" -Recurse
          Remove-Item -Path "$($Env:DIST_PATH)/lib/pkgconfig" -Recurse
          Remove-Item -Path "$($Env:DIST_PATH)/lib/cmake/libxml2-*" -Recurse
          Remove-Item -Path "$($Env:DIST_PATH)/lib/libzlib.dll.a"

      # Build and install libTMX
      - name: Checkout libTMX
        uses: actions/checkout@v6
        with:
          path: tmx
      - name: Build and Install libTMX
        run: |
          cmake -G "MinGW Makefiles" -DCMAKE_BUILD_TYPE=Release -DCMAKE_INSTALL_PREFIX="$($Env:DIST_PATH)" `
                -DCMAKE_PREFIX_PATH="$($Env:DIST_PATH)" &&
          mingw32-make -j2 && mingw32-make install
        working-directory: tmx

      # Upload
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.ARTIFACT_NAME }}
          path: ${{ env.DIST_PATH }}
